
.ReportLabelsContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 70px;
    font-family: "Poppins", sans-serif;
    /* padding-right: 10px; */
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #EEEEEE;
    padding-right: 15px;
    cursor: pointer;
}

.ReportLabelsContainerSelected{
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    height: 70px;
    font-family: "Poppins", sans-serif;
    /* padding-right: 10px; */
    border-radius: 5px;
    margin-bottom: 2px;
    border: 1px solid black;
}

.ReportLabelsContainerText{
    flex: 1;
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 400;
}

.ReportLabelsContainerTextBigger{
    flex: 1;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
}

.ReportLabelsContainerSubText{
    font-size: 14px;
    font-weight: 500;
    color: #3D2BE2;
}

.ReportLabelsContainerIcon{
    width: 30px;
    height: 30px;
    text-align: center;
    /* background-color: black; */
}

.ReportLabelsContainerIconSelected{
    width: 30px;
    height: 30px;
    text-align: center;
}

.ReportLabelsContainerBuy{
    background-color: #3D2BE2;
    /* padding: 25px; */
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .ReportLabelsContainer{
        height: 60px;
        text-align: center;
        padding: 0px;
        flex-direction: row;
        /* display: none; */
    }

    .ReportLabelsContainerIconSelected{
        /* display: none; */
    }

    .ReportLabelsContainerText{
        font-size: 10px;
    }
    .ReportLabelsContainerTextBigger{
        font-size: 12px;
    }

    .ReportLabelsContainerSubText{
        font-size: 11px;
    }
}