
.ThirdContainerService{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.ThirdContainerServicePara{

    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.ThirdContainerServicePara:hover{
    background-color: rgba(0, 0, 255, 0.677);
}

@media (max-width: 768px){

    .ThirdContainerService{
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .ThirdContainerServicePara{
        font-size: 14px;
    }
}