
.AllReportsItemContainer{
    width: 100%;
    display: flex;
    padding: 12px 20px 0px;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.AllReportsItemContainerHead{
    font-size: 18px;
    font-weight: 600;
    color: blue;
    padding-top: 12px;
}

.AllReportsItemContainerDescription{
    font-size: 14px;
    color: rgb(29, 29, 29);
}

.AllReportsItemContainerDate{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.562)
}


.AllReportsItemContainer:hover .AllReportsItemContainerHead{
    text-decoration: underline;
    cursor: pointer;
}

.AllReportsItemMeta{
    display: flex;
    gap: 12px;
}
.AllReportsItemMeta .Tag{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.562);
}
.AllReportsItemMeta .Date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.562);
}