
.SecondContainer{
    height: 100vh;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.863);
    padding: 10px 50px;
}
.SecondContainerHead{
    margin: 80px;
    text-align: center;
}

.SecondContainerImage{
    height: 80vh;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.863);
}

.SecondContainerImageImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SecondContainerLists{
    gap: 30px;
    row-gap: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px){

    .SecondContainer{
        height: auto;
        padding: 0px 16px 50px;
    }

    .SecondContainerHead{
        margin: 50px;
    }

    .SecondContainerLists{
        /* gap: 70px; */
        row-gap: 50px;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px){

    .SecondContainer{
        height: auto;
        padding: 0px 16px 50px;
    }

    .SecondContainerHead{
        margin: 50px;
    }

    .SecondContainerLists{
        /* gap: 70px; */
        row-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
    }

}